<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @finance.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @finance.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="finance[SpentTotal]" class="fieldLabel">Spenttotal</label>
            <input type="text" id="finance[SpentTotal]" name="finance[SpentTotal]" <%= placeholder("Spenttotal") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="finance[SpentOn]" class="fieldLabel">Spenton</label>
            <input type="text" id="finance[SpentOn]" name="finance[SpentOn]" <%= placeholder("Spenton") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="finance[SpentWhere]" class="fieldLabel">Spentwhere</label>
            <input type="text" id="finance[SpentWhere]" name="finance[SpentWhere]" <%= placeholder("Spentwhere") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="finance[SpentWhen]" class="fieldLabel">Spentwhen</label>
            <input type="text" id="finance[SpentWhen]" name="finance[SpentWhen]" <%= placeholder("Spentwhen") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="finance[IncomeTotal]" class="fieldLabel">Incometotal</label>
            <input type="text" id="finance[IncomeTotal]" name="finance[IncomeTotal]" <%= placeholder("Incometotal") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="finance[IncomeFrom]" class="fieldLabel">Incomefrom</label>
            <input type="text" id="finance[IncomeFrom]" name="finance[IncomeFrom]" <%= placeholder("Incomefrom") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="finance[BalanceTotal]" class="fieldLabel">Balancetotal</label>
            <input type="text" id="finance[BalanceTotal]" name="finance[BalanceTotal]" <%= placeholder("Balancetotal") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
