<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @finance.SpentTotal %></h1>
    <%= link_to "Edit", :action => :edit, :id => @finance.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">SpentTotal</td>
        <td class="itemValue"><%= @finance.SpentTotal%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SpentOn</td>
        <td class="itemValue"><%= @finance.SpentOn%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SpentWhere</td>
        <td class="itemValue"><%= @finance.SpentWhere%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SpentWhen</td>
        <td class="itemValue"><%= @finance.SpentWhen%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">IncomeTotal</td>
        <td class="itemValue"><%= @finance.IncomeTotal%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">IncomeFrom</td>
        <td class="itemValue"><%= @finance.IncomeFrom%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">BalanceTotal</td>
        <td class="itemValue"><%= @finance.BalanceTotal%></td>
      </tr>
      
    </table>
  </div>

</div>
