<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @shoebox.object %>
    <h1>Edit <%= @shoebox.Receipts%></h1>
    <%= link_to "Delete", :action => :delete, :id => @shoebox.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @shoebox.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Receipts: </td>
              <td class="itemValue"><input type="text" name="shoebox[Receipts]" value="<%= @shoebox.Receipts %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Bills: </td>
              <td class="itemValue"><input type="text" name="shoebox[Bills]" value="<%= @shoebox.Bills %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Checkbook: </td>
              <td class="itemValue"><input type="text" name="shoebox[CheckBook]" value="<%= @shoebox.CheckBook %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Documents: </td>
              <td class="itemValue"><input type="text" name="shoebox[Documents]" value="<%= @shoebox.Documents %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
