<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @habitprofile.TimeData %></h1>
    <%= link_to "Edit", :action => :edit, :id => @habitprofile.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">TimeData</td>
        <td class="itemValue"><%= @habitprofile.TimeData%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">LocationData</td>
        <td class="itemValue"><%= @habitprofile.LocationData%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">ActionData</td>
        <td class="itemValue"><%= @habitprofile.ActionData%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">FinanceData</td>
        <td class="itemValue"><%= @habitprofile.FinanceData%></td>
      </tr>
      
    </table>
  </div>

</div>
